@using ShoeMania.Core.ViewModels.Shoes
@model DetailsShoeViewModel


<div class="container-shoe">
    <div class="imgBx">
        <img src="@Model.ShoePictureUrl" height="400px" alt="Nike Jordan Proto-Lyte Image">
    </div>
    <div class="details">
        <div class="content">
            <h2>
                @Model.Name <br>
                <span>@Model.Category</span>
            </h2>
            <p>
                @Model.Description
            </p>
            <form id="buy-form" asp-action="AddToCart" asp-controller="Shoes" method="post">
                <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
                <div class="mb-3">
                    <label class="form-label-add-edit text-dark">Size</label>
                    <select class="form-control" aria-required="true" asp-for="@Model.Size">
                        @foreach (var size in Model.Sizes)
                        {
                            <option value="@size.Number">@size.Number</option>
                        }

                    </select>
                </div>
                <h3>$ @Model.Price</h3>
                <br />
                <a href="javascript:{}" onclick="document.getElementById('buy-form').submit()">Buy Now</a>
            </form>

        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/detailsShoe.css" asp-append-version="true" />

}