@using ShoeMania.Core.ViewModels.Shoes
@model ShoeFormModel


@{
    ViewData["Title"] = "Edit Shoe";
}



<div class="row row-custom">
    <h2 class="text-center text-light mt-5">@ViewData["Title"]</h2>

    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 mb-5">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label-add-edit text-light">Name</label>
                <input asp-for="@Model.Name" value="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit text-light">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label-add-edit text-light">Price</label>
                <input asp-for="@Model.Price" value="@Model.Price" class="form-control" aria-required="true" placeholde="Price" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <select asp-for="SizeIds" data-placeholder="Размери" multiple class="form-control chosen-select choices-multiple-remove-button">
                    @foreach (var a in Model.Sizes)
                    {
                        <option value="@a.Id">@a.Number</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label-add-edit text-light">Category</label>
                <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="dishPicture" class="text-light">Upload Dish Picture</label>
                <input asp-for="ShoeUrlImage" accept="image/gif, image/jpeg, image/png" class="text-black" id="dishPicture">
                <span asp-validation-for="ShoeUrlImage" class="text-black"></span>
            </div>
            <div class="mb-3">
                <img alt="Uploaded Image" placeholder="Upload Dish Picture" accept="image/gif, image/jpeg, image/png" style="display:none;">
            </div>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Edit" />
            </div>
        </form>
    </div>

</div>


@section Styles {
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addShoe.css" asp-append-version="true" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/addShoe.js" asp-append-version="true"></script>

}
