@using ShoeMania.Extensions
@model ShoeMania.Core.ViewModels.Shoes.ShoeViewModel


<div class="product" style="margin-left: 3rem; margin-top: 5rem;margin-bottom: 100px">
    <span class="product__price">@Model.Price lv.</span>
    <img class="product__image" height="300" src="@Model.ShoePictureUrl" style="height:auto">
    <h1 class="product__title">@Model.Name</h1>
    <hr />
    <p>
        @Model.Description
    </p>
    @if (User.IsInRole("Customer"))
    {
        <a asp-action="Details" asp-controller="Shoes" asp-route-id="@Model.Id" class="product__btn btn-buy">Buy Now</a>

    }
    else
    {
        <div class="d-flex" style="justify-content: space-between">
            <a asp-action="Edit" asp-controller="Shoes" asp-route-shoeId="@Model.Id" class="product__btn-edit btn-buy" style="margin-right: 50%">Edit</a>
            <a asp-action="Delete" asp-controller="Shoes" asp-route-shoeId="@Model.Id" class="product__btn btn-buy">Delete</a>
        </div>

    }
</div>
