@using ShoeMania.Core.ViewModels.Profile
@model ProfileViewModel

<h2 class="text-center mt-3">My Profile</h2>

<div class="container" style="margin-top: 50px;">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@Model.ProfilePictureUrl" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.Name</h4>
                                <p class="text-secondary mb-1">Customer</p>
                                <p class="text-muted font-size-sm">@Model.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Name
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.PhoneNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Address, @Model.City, @Model.Country
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info" asp-action="Edit" asp-controller="Profile" asp-route-userId="@Model.Id">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}
